{% extends 'default/index.html.twig' %}

{% block content %}

    <ul>
    {% for fizz in fizzs %}
        <li>
            {{ loop.index }} {{ fizz.name }}
            <ul>
            {% for buzz in fizz.buzzs %}
                <li>{{ loop.index }} - {{ buzz.name }}</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>

{% endblock %}