{% extends 'bootstrap4.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}

        {% if app.request.method == 'POST' and data %}
            good job !
        {% else %}
            submit something please
        {% endif %}
    </div>
{% endblock %}


