{% extends 'bootstrap4.html.twig' %}

{% block body %}

    <div id="message">Hello world !</div>


{% endblock %}


{% block javascripts %}
<script>
    $(function() {
        //Ben alors ? :o

        //Il fallait afficher le contenu de la div avec l'identifiant message

        //alert($('message').text);

        alert($('#message').text()); //Like this
    });
</script>
{% endblock %}
